$primary:								#618095;

/**
 * Grapes primary colors
 */
$primaryColor: 							$primary;
$secondaryColor: 						#fff;
$tertiaryColor: 						#804f7b;
$quaternaryColor: 						#fff;

$fontSize:           					0.8rem !default;
$fontSizeS:          					0.95rem !default;
